

/* By default position is static */


    /* Center anything in an countainer */
    

body{
    /* size set to one view page */
    width:auto;
    height: auto;
    background: white;
    margin: 20pxS;
}


img{
    width: 100vw;
    height: auto;
}

.parent{
    width: 20rem;
    height: AUTO;

    background:rgb(230, 127, 153);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);

    
    padding:2rem;
    font-size: 2rem;
    border-radius: 0.5rem;


   
   /* 
   TO understand relative property of parent uncomment below code
   */

    /* 
    
    margin:auto; 
    position: relative;
    /* top:2rem;
    left:2rem; 
    
    */


    /* To prevent any  */
    /* 
    overflow: hidden;
    */

    /*     

    In sticky position situation our container stay sticked to one positon and does not follow us around through out the page 
    to understand this process un comment below code

    */

    /*
     position: sticky; 
    */


    /*  
    As per name fixed position fixes our container at a particular position and that container stays 
    at location through out layout of page.
    
    P.S : BY DEFAULT ITS LOCATION IS TOP AS LIKE ANY OTHER POSITION TYPE THIS PROPERTY IS USED 
    NORMALLY FOR NAVIGATION BARS IN WEBSTITES BASED ON REQUIREMENTS 
    
    You can also use top, bottom, left, right properties in this 

    To understand this process un comment below code
    */

      
    position: fixed;


    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);


}

.child-one{

    /* notes about relative position */
    /* Relative help you shift with left | right | Top | Bottom 
       It results in over flow of element*/
    /* position: relative;  
    left:5rem; */
     /* WE can prevent over flow of a child div by using overflow hidden in parent */
    
     /*  Notes for position absolute */

     /* position absolute completely removes element from document flow and render over thing same as nothing has happend.
     set size of div equal to size of content in it then place that div in reference parent parent 
     in this case div overlaps over other div because of read by line nature of compiler of brower */
 
     position: static;
 
     /* Uncomment below if you want to see absolute work with relative position of parent */
     /* top:0px; */

     /* positon absolute is used with parent when you want to place a child with in a container at some exact location
     You set you parent to relative and set posistion of child to absolute */
    
    margin: 0.5rem;
    padding: 0.7rem;
    font-size: 1.5rem;
    height: 5rem;
    background-color: rgb(83, 115, 255);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem
}

.child-two{
    margin: 0.5rem;
    padding: 0.7rem;
    display: block;
    font-size: 1.5rem;
    height: 5rem;
    background-color: rgb(70, 206, 224);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem
}

.child-three{
    margin: 0.5rem;
    padding: 0.7rem;
    display: block;
    font-size: 1.5rem;
    width: auto;
    height: 5rem;
    background-color: rgb(255, 97, 105);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem
}